:root {
  --bg-card: #d4ac78;
  --gris-oscuro: #4e4d4a;
  --marron-amarillento: #8e7d5a;
  --naranja-calido: #ffb347;
  --tono-crema-neutro: #fffdd0;
}
.CardItem {
  width: 30vw;
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-card);
  color: var(--gris-oscuro);
}

.ItemImg {
  width: 30vw;
  border-radius: 6px;
}
