.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navBar > .buttons > li {
  list-style-type: none;
}
.navBar > a {
  text-decoration-line: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}
.btnNav {
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 0px;
  padding: 12px;
}
.btnNav:hover {
  color: #545050;
  font-size: 18px;
  border-bottom: solid 1px #d4ac78;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
