:root {
  --naranja-calido: #ffb347;
  --marron-amarillento: #8e7d5a;
  --gris-oscuro: #4e4d4a;
  --tono-crema-neutro: #fffdd0;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

code {
  font-family: "Open Sans", sans-serif;
}
